target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.settings
*.classpath
.classpath
/socool/socool-site/*.project
/socool/socool-site/socool-site-action/*.project
/socool/socool-site/socool-site-action/*.classpath
/socool/socool-war/*.tern-project
/socool/socool-war/*.project
/socool/socool-site/socool-site-entry/*.project
/socool/socool-site/socool-site-entry/*.classpath
/socool/socool-site/socool-site-dao/*.project
/socool/socool-site/socool-site-dao/*.classpath
/socool/socool-site/socool-site-condition/*.project
/socool/socool-site/socool-site-condition/*.classpath
/socool/socool-site/socool-site-bo/*.project
/socool/socool-site/socool-site-bo/*.classpath
/socool/socool-site/socool-site-biz/*.project
/socool/socool-site/socool-site-biz/*.classpath
/socool/*.project
